/*_------------------SIDEBAR*/
/*removes the sidebar completely
but only shows up when it starts out as flyouts then becomes a sidebar
Hmmm sometimes on first load IDK*/
/*#pagelet_sidebar{
    display: none;
}*/

/*if pagelet_sidebar doesn't work this is the replacement*/
/*
#u_0_v{
    display: none;
}
*/


/*fbchatSidebar*/

/*removes sidebar but has the search*/
.fbChatSidebarBody{
    display: none;
}

/*_------------------FLYOUT*/
/*removes the flyout completely but does not take out the messaging to me*/
/*id confirmed*/
#BuddylistPagelet{
    display: none;
}

/*contains the 1-on-1 chat that opens when someone messages you
#ChatTabsPagelet
*/

/*contains both BuddlylistPagelet and ChatTabePagelet
#pagelet_dock*/

/*removes the flyout content*/
/*appears to work*/
/* [data-testid="chat_sidebar"]{
    display: none;
} */

/*OBSOLETE*/
/*removes the flyout content*/
/*id obsolete*/
/* #u_0_21{
    display: none;
} */